################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/equ.xlsx
/GKiW_Lab3.VC.db
/GKiW_Lab3.VC.VC.opendb
/GKiW_Lab3/Debug/*
/GKiW_Lab3/Release/*
*.ipch
.vs/
